<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Twitter recommender | Adam Vilčko</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../styles/main.css" th:href="@{/styles/main.css}" />
</head>
<body>
	<h1>Doporučování</h1>
	<p>Doporučování na základě podobnosti uživatelských oblíbených příspěvků na mikroblogovací síti <a href="https://twitter.com">Twitter</a>&reg;.</p>

	<div id="wrapper">

		<div id="left-pane">
			<div>
				<p>Firefox</p>
				<p>0.0101</p>
				<a href="/recom/userdetail/2142731">See User Detail</a>
			</div>

			<div th:each="r : ${recom}">
				<p th:text="${r.user.name}">User name</p>
				<p th:text="${r.distance}">Distance</p>
				<p th:text="${r.favoriteStatuses}">Favorite statuses</p>
				<a href="userdetail.html" th:href="@{/userdetail/__${r.user.id}__}">See User Detail</a>
			</div>
		</div>

	</div>

</body>
</html>