<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, ' + ${id} + '!'" />

	<div id="wrapper">

		<div id="left-pane">
			<div th:each="r : ${recom}">
				<p th:text="${r.user.name}">User name</p>
				<p th:text="${r.distance}">Distance</p>
			</div>
		</div>

		<div id="right-pane" th:each="f : ${favorites}">
			<p th:text="${f.user.name}">User name</p>
			<p th:text="${f.text}">Text</p>
		</div>

	</div>

</body>
</html>