<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Twitter recommender | Adam Vilčko</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../styles/main.css" th:href="@{/styles/main.css}" />
</head>
<body>
<div id="wrapper">

	<div id="header">
		<a id="href-about" href="/recom/about">O projektu</a>

		<h1>Doporučování</h1>
		<p>Doporučování generovaná na základě podobnosti uživatelských oblíbených příspěvků 
		na mikroblogovací síti <a href="https://twitter.com">Twitter</a>&reg;. Více informací 
		naleznete na stránce popisující důvod vzniku  účel projektu <a href="/recom/about">zde</a>.</p>

	</div>

	<div id="content">

		<div id="status-pane">
			<div class="description-label">Timeline referenčního uživatele ...</div>

			<div class="status-label" th:each="s : ${statuses}">
				<span class="date-label"><p th:text="${s.createdAt}">Created at</p></span>
				<div><p th:text="${s.text}">Status text</p></div>
			</div>

		</div>

		<div id="recommendation-pane">

			<div class="description-label">Generovaná doporučení referenčnímu uživateli ...</div>

			<div class="recommended-item" th:each="r : ${recom}">
				<table>
					<tr>
						<td><a href="userdetail.html" th:href="@{/userdetail/__${r.user.id}__}"><span th:text="${r.user.name}">User name</span></a></td>
					</tr>
					<tr>
						<td>Blízkost uživatele: <span th:text="${r.distance}">Distance</span></td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>

</body>
</html>