<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Twitter recommender | User Detail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../styles/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Doporučování</h1>

	<div id="wrapper">

		<div id="left-pane">
			<p>Uživatel: <span th:text="${user.name}">Name</span></p>
			<p>Popis: <span th:text="${user.description}">Description</span></p>
			<p><a th:href="@{${user.URL}}">URL</a></p>
		</div>

		<div id="right-pane">
			<div th:each="r : ${recom}">
				<p th:text="${r.user.name}">User name</p>
				<p th:text="${r.distance}">Distance</p>
			</div>
		</div>

	</div>

</body>
</html>