* { margin: 0; padding: 0; border: 0; font-family: Arial, Helvetica, sans-serif; }
body { color: #333333; }
a { color: #333333; }

h1 {
	margin-top: 50px;
}

#wrapper {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 800px;
	position: relative;
	border: 1px solid;
}

#header {
	position: absolute;
	width: 800px;
	height: 100px;
	padding-left: 5px;
}

#content {
	width: 800px;
	margin-top: 130px;
}

#status-pane {
	width: 500px;
	float: left;
}

#recommendation-pane {
	width: 299px;
	float: right;
}

.recommended-item {
	padding: 10px;
	background-color: #FFFFFF;
}

#href-home {
	float: right;
	font-weight: bold;
	font-size: 17px;
	margin-right: 25px;
}

#href-about {
	float: right;
	font-weight: bold;
	font-size: 17px;
	margin-right: 25px;
}

.description-label {
	font-style: italic;
	font-weight: bold;
	font-size: 17px;
	margin: 15px;
}

.status-label {
	padding: 10px;
	border-style: solid;
	border-width: thin;
	border-color: #DBDBD5;
	background-color: #FFFFFF;
}

.date-label {
	font-size: 12px;
	font-style: oblique;
}

